/* Varibles */

:root {
	--light-green: #00CA74;
	--dark-green: #00BC6C;
	--darker-green: #00AA62;
	--light-red: #FB565A;
	--dark-red: #E74246;
	--darker-red: #D7373B;
	--light-yellow: #EFC84A;
	--dark-yellow: #EAB534;
	--darker-yellow: #E5A722;
	--black: #000000;
	--white: #ffffff;
	--light-grey: #EEEEEE;
	--dark-grey: #DFDFDF;
	--darker-grey: #D5D5D5;
	--grey: #E1E1E1;
	--extra-grey: #D7DCDF;
	/* Opacity colors */
	--opacity-light-black: rgba(0, 0, 0, 0.3);
	--opacity-black: rgba(0, 0, 0, 0.6);
	--opacity-white: rgba(255, 255, 255, 0.3);
}


/* Global */

body {
	min-width: 1160px;
	padding: 0;
	margin: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--black);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation,
.services-title,
.feature-caption,
.features-list-title,
.features-table-title,
.contacts-title,
.button {
	text-transform: uppercase;
}

.site-navigation,
.services-list,
.work-performe-list {
	list-style: none;
}


/* Grid */

.page {
	height: 100%;
}

.container {
	width: 1160px;
	margin: 0 auto;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}


/* Hidden titles */

.visually-hidden {
	/*Убрать 1 потом*/
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}


/* Main navigation */

.main-navigation {
	display: grid;
	grid-template-columns: 170px 1fr min-content;
}

.main-navigation a {
	display: grid;
	color: var(--black);
	font-size: 16px;
	line-height: 30px;
}

.main-header {
	padding-top: 49px;
	background-color: var(--light-grey);
}

.main-header-logo {
	text-transform: none;
}


/* User navigation */

.site-navigation a {
	margin-right: 45px;
}

.site-navigation {
	padding: 11px 51px 0 0;
}

.basket {
	padding: 11px 0 0 0;
}

.site-navigation,
.basket {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.basket::before {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	right: 100px;
	bottom: 24px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.basket {
	position: relative;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket:hover,
.basket:focus {
	color: var(--light-red);
}

.site-navigation a:active,
.basket:active {
	color: var(--opacity-light-black);
}


/* Slider */

.slider {
	position: relative;
	margin: 0;
	padding: 71px 0 80px 0;
	background-color: var(--light-grey);
}

.slide {
	display: none;
}

.slide-current {
	display: block;
}

.slider-control .current-slide {
	padding: 10px;
	background-image: url(../img/slider-on.png);
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}


/*
.index-slide1 {
  background-image: url(../img/nerds-index-slide1.png);
  background-repeat: no-repeat;
  background-position:93% 18px;
}

.index-slide2 {
  background-image: url(../img/nerds-index-slide2.png);
  background-repeat: no-repeat;
}

.index-slide3 {
  background-image: url(../img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: right;
}*/

.slider-title {
	font-size: 55px;
	line-height: 55px;
	padding: 0;
	margin: 0 0 25px 0;
}

.slider-list {
	list-style: none;
	padding: 0;
}

.slider-description {
	padding: 0;
	margin: 0 0 39px 0;
}

.slider-control button {
	padding: 10px;
	background-image: url(../img/slider-off.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.slider-control {
	display: flex;
	width: 88px;
	height: 18px;
	justify-content: space-between;
	position: absolute;
	z-index: 30;
	bottom: 22%;
	right: 0;
	left: 0;
}


/* Services */

.services {
	padding: 80px 0 80px 0;
}

.services-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 42px;
	margin: 0;
	padding: 0;
}

.services-title {
	font-size: 24px;
	line-height: 30px;
	margin: 20px 0 16px 0;
}

.services-description {
	margin: 0 0 32px 0;
}


/* Features */

.features {
	display: grid;
	grid-template-columns: 2fr 1fr;
	border-bottom: 2px solid var(--light-grey);
	border-top: 2px solid var(--light-grey);
	gap: 80px;
	padding: 38px 0 71px 0;
}

.features-wrapper-second {
	text-align: center;
}

.features-description {
	margin: 0 0 41px 0;
}

.features-list {
	margin: 0;
	padding: 0 0 0 35px;
}

.features-list li {
	position: relative;
	list-style: none;
}

.features-item::before {
	content: "";
	top: 12px;
	left: -35px;
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fb565a;
}

.features-list-title {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 25px 0;
}

.features-item {
	margin: 0 0 23px 0;
}

.features-item:last-child {
	margin: 0;
}

.features-logo {
	margin: 0 0 32px 0;
}

.features-caption {
	font-size: 45px;
	line-height: 45px;
	margin: 34px 0 33px 0;
}

.features-table-row {
	font-size: 45px;
	line-height: 64px;
	font-weight: 700;
}

.features-table-row-header {
	font-size: 16px;
	line-height: 18px;
	text-align: left;
	font-weight: 400;
}

.features-table-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	margin: 0 0 28px 0;
}

.features-table-row td {
	text-align: left;
}

.features-table td {
	padding: 0 20px 9px 0;
}


/* Works */

.work-performe-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	text-align: center;
	padding: 46px 0 38px 0;
	border-bottom: 2px solid var(--light-grey);
}

.work-performe-list li {
	position: relative;
}

.work-performe-item::after {
	content: "";
	top: 12px;
	left: 290px;
	position: absolute;
	width: 2px;
	height: 52px;
	background-color: var(--light-grey);
}

.work-performed {
	padding-bottom: 80px;
}

.work-performe-item:last-child::after {
	content: none;
}


/* Contacts */

.contacts {
	position: relative;
	display: flex;
	height: 416px;
	justify-content: center;
	overflow: hidden;
}

.contacts-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	margin: 3px 0 23px 0;
	padding: 0;
}

.contacts-wrapper {
	position: absolute;
	z-index: 30;
	top: -8px;
	right: 0;
	left: 0;
}

.contacts-phone {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 37px 0;
}

.map-contacts {
	width: 319px;
	margin-top: 60px;
	padding: 47px 50px 45px 50px;
	background-color: var(--white);
	box-sizing: border-box;
}

.contacts-adress {
	font-size: 16px;
	line-height: 18px;
	margin: 0 0 17px 0;
}


/* Footer */

.social-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 78px;
	height: 78px;
	background-color: var(--grey);
	color: inherit;
	margin-right: 12px;
}

.social-button:hover,
.social-button:focus {
	background-color: var(--dark-red);
}

.social-button:active {
	background-color: var(--darker-red);
}

.social-button svg:active {
	color: var(--opacity-white);
}

.friend-discont-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	margin: 6px 0 10px 0;
}

.friend-discont-description {
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}


/* Global buttons */

.button {
	display: inline-block;
	font: inherit;
	text-align: center;
	color: var(--white);
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	line-height: 18px;
}

.slider-button,
.contacts-button,
.left-button,
.pattern-button {
	background-color: var(--light-red);
}

.slider-button:hover,
.slider-button:focus,
.contacts-button:hover,
.contacts-button:focus,
.left-button:hover,
.left-button:focus,
.pattern-button:hover,
.pattern-button:focus {
	background-color: var(--dark-red);
}

.slider-button:active,
.contacts-button:active,
.left-button:active,
.pattern-button:active {
	background-color: var(--darker-red);
	color: var(--opacity-white);
}


/* Services-buttons, Slider buttons, Contacts-button */

.contacts-button {
	padding: 17px 44px 15px 44px;
}

.slider-button {
	padding: 17px 54px 15px 54px;
}

.services-button {
	padding: 17px 40px 15px 39px;
}

.center-button:hover,
.center-button:focus {
	background-color: var(--dark-green);
}

.center-button:active {
	background-color: var(--darker-green);
	color: var(--opacity-white);
}

.center-button {
	background-color: var(--light-green);
}

.right-button:hover,
.right-button:focus {
	background-color: var(--dark-yellow);
}

.right-button:active {
	background-color: var(--darker-yellow);
	color: var(--opacity-white);
}

.right-button {
	background-color: var(--light-yellow);
}


/* Catalog-styles */

.shop-title {
	font-size: 55px;
	line-height: 55px;
	background-color: var(--light-grey);
	text-align: center;
	padding: 78px 0 108px 0;
	margin: 0;
}

.filter-description,
.pattern-description,
.pattern-item-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
}

.filter-description,
.pattern-description,
.pattern-filter-item {
	text-transform: uppercase;
	list-style: none;
}

.filter {
	padding: 55px 0 0 0;
}

.filter-description {
	margin: 0;
}

.pattern-item {
	list-style: none;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-content: start;
}

.pattern-filter-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0 0 0 25px;
}

.pattern-filter-item {
	margin-right: 20px;
	padding: 0;
}

.pattern-description {
	margin: 0;
}

.pattern-filter-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	padding: 55px 0 48px 0;
}

.pattern-filter-item,
.pattern-item-description {
	font-size: 14px;
	line-height: 18px;
}

.pattern-item-title a {
	color: var(--black);
	text-transform: uppercase;
}

.pattern-item-title {
	margin: 0 0 12px 0;
}

.pattern-item-description {
	margin: 0 0 32px 0;
}

.pattern-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px 42px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.pattern-item-title a:hover,
.pattern-item-title a:focus {
	color: var(--light-red);
}

.pattern-item-title a:active {
	color: var(--opacity-light-black);
}

.pagination {
	display: flex;
	list-style: none;
	padding: 55px 0 60px 0;
	margin: 0;
}

.pagination-item {
	margin-right: 11px;
}

.current-position a,
.current-position a:focus,
.current-position a:hover {
	color: var(--black);
}

.current-position a:active {
	color: var(--black);
}

.pattern-filter-item a {
	color: var(--opacity-light-black);
}

.pattern-filter-item a:focus,
.pattern-filter-item a:hover {
	color: var(--opacity-black);
}

.pattern-filter-item a:active {
	color: var(--black);
}

.current a:focus,
.current a:hover,
.current a {
	color: var(--black);
}

.pagination-link-current {
	border: 3px solid var(--dark-grey);
	box-sizing: border-box;
	border-radius: 3px;
	color: var(--black);
	padding: 17px 20px 15px 20px;
}

.pagination-link {
	color: var(--black);
	background-color: var(--light-grey);
	padding: 17px 20px 15px 20px;
}

.pagination-link:focus,
.pagination-link:hover {
	background-color: var(--dark-grey);
}

.pagination-link:active {
	background-color: var(--darker-grey);
	color: var(--opacity-light-black);
}

.page-footer {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 20px;
	padding: 68px 0 68px 0;
}

.next-page {
	padding: 17px 77px 15px 78px;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
}


/* Filter */

.filter-item {
	margin: 54px 0 46px 0;
	padding: 0;
	border: none;
}

.range-filter {
	width: 260px;
	margin-top: 49px;
}

.filter-list-radio {
	margin: 0;
	padding: 0;
}

.filter-list-checkbox {
	margin: 0;
	padding: 0;
}

.filter-option {
	margin: 0 0 15px 0;
}

.filter-option:last-child {
	margin: 0;
}

.filter-legend-radio {
	margin: 0 0 16px 0;
}

.filter-item legend {
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
	height: 41px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: var(--light-grey);
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	background: var(--grey);
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: var(--light-green);
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--white);
	background-color: var(--extra-grey);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--light-grey);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
}

.price-controls label {
	text-transform: uppercase;
	font-size: 16px;
}

.price-controls input {
	width: 60px;
	padding: 10px;
	margin-left: 10px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background: var(--light-grey);
	font-family: inherit;
	font-size: inherit;
}


/* Radio button */

.radio {
	position: relative;
	padding-left: 40px
}

.radio-input {
	position: absolute;
	clip: rect(0 0 0 0);
}

.radio-box {
	position: absolute;
	width: 25px;
	height: 25px;
	margin-left: -39px;
	background-image: url(../img/radio-off.png)
}

.radio-input:checked+.radio-box {
	background-image: url(../img/radio-on.png)
}

.option {
	display: block
}

.filter-list-radio {
	list-style: none;
}


/*Check-box buttons */

.filter-list-checkbox {
	list-style: none;
}

.check {
	font-size: 16px;
	position: relative;
	padding-left: 40px;
	letter-spacing: .14px
}

.check-input {
	position: absolute;
	clip: rect(0 0 0 0);
}

.check-box {
	position: absolute;
	width: 23px;
	height: 23px;
	margin-left: -39px;
	background-image: url(../img/checkbox-off.png)
}

.check-input:checked+.check-box {
	content: "";
	width: 23px;
	background-image: url(../img/checkbox-on.png)
}

.filter-button {
	padding: 17px 88px 15px 89px;
	color: var(--black);
	font-size: 16px;
	line-height: 18px;
}


/* Sort pattern */

.sort-up {
	position: relative;
	padding-left: 20px;
}

.sort-up::before {
	position: absolute;
	top: 5px;
	right: 0;
	width: 11px;
	height: 10px;
	content: '';
	background-image: url(../img/up-arrow.png);
}

.sort-down {
	position: relative;
	padding-right: 25px;
}

.sort-down::before {
	position: absolute;
	top: 5px;
	right: 0;
	width: 11px;
	height: 10px;
	content: '';
	background-image: url(../img/down-arrow.png);
}

.up-down-wrapper {
	margin: 0;
}
