/* Varibles */

:root {
  --light-green: #00CA74;
  --dark-green: #00BC6C;
  --darker-green: #00AA62;

  --light-red: #FB565A;
  --dark-red: #E74246;
  --darker-red: #D7373B;

  --light-yellow: #EFC84A;
  --dark-yellow: #EAB534;
  --darker-yellow: #E5A722;

  --black: #000000;
  --white: #ffffff;

  --light-grey: #EEEEEE;
  --dark-grey: #DFDFDF;
  --darker-grey: #D5D5D5;

/* Opacity colors */

  --opacity-light-black: rgba(0, 0, 0, 0.3);
  --opacity-black: rgba(0, 0, 0, 0.6);
  --opacity-white: rgba(255, 255, 255, 0.3);
}

/* Global */

body {
  min-width: 1160px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation,
.services-title,
.feature-caption,
.features-list-title,
.features-table-title,
.contacts-title,
.button {
  text-transform: uppercase;
}

.site-navigation,
.services-list,
.work-performe-list {
  list-style: none;
}

/* Grid */

.page {
 height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Hidden titles */
.hidden-title { /*Убрать 1 потом*/
  display: none;
}


/* Main navigation */
.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.inner-page .main-navigation-wrapper {
  grid-template-columns: 170px 1fr min-content;
}

.inner-page .main-header-logo {
  order: 0;
}

.main-navigation {
  display: grid;
}

.main-header {
  background-color: var(--light-grey);
  margin-bottom: 50px;
}

.main-header-logo {
  text-transform: none;
}

/* User navigation */
.site-navigation {
  margin: 0;
  padding: 0;
}


.site-navigation a,
.site-basket a {
  color: var(--black);
  font-size: 16px;
  line-height: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-basket a:hover,
.site-basket a:focus {
  color: var(--light-red);
}

.site-navigation a:active,
.site-basket a:active {
  color: var(--opacity-light-black);
}

/* Slider */

.slider {
  background-color: var(--light-grey);
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
}

/* Services */

.services {
  padding-top: 40px;
  padding-bottom: 40px;
}

.services-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.services-item{
  text-align: left;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
}

/* Features */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 150px;
  padding-top: 40px;
  padding-bottom: 73px;
}

.features-caption {
  font-size: 45px;
  line-height: 45px;
}

.features-table-row {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.features-table-row-header {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: 400;
}

.features-table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

/* Works */

.work-performe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin: 0;
  padding: 0;
}

.work-performe-item {
  text-align: center;
}
/* Contacts */

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

/* Footer */

.friend-discont-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.friend-discont-description {
  font-size: 16px;
  line-height: 22px;
}

/* Global buttons */

.button {
  font: inherit;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.slider-button,
.contacts-button,
.left-button,
.pattern-button {
  background-color: var(--light-red);
}

.slider-button:hover,
.slider-button:focus,
.contacts-button:hover,
.contacts-button:focus,
.left-button:hover,
.left-button:focus,
.pattern-button:hover,
.pattern-button:focus {
  background-color: var(--dark-red);
}

.slider-button:active,
.contacts-button:active,
.left-button:active,
.pattern-button:active {
  background-color: var(--darker-red);
  color: var(--opacity-white);
}

/* Services-buttons */

.center-button:hover,
.center-button:focus {
  background-color: var(--dark-green);
}

.center-button:active {
  background-color: var(--darker-green);
  color: var(--opacity-white);
}

.center-button {
  background-color: var(--light-green);
}

.right-button:hover,
.right-button:focus {
  background-color: var(--dark-yellow);
}

.right-button:active {
  background-color: var(--darker-yellow);
  color: var(--opacity-white);
}
.right-button {
  background-color: var(--light-yellow);
}

/* Catalog-styles */

.shop-title {
  font-size: 55px;
  line-height: 55px;
}

.filter-description,
.pattern-description,
.pattern-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.filter-description,
.pattern-description,
.pattern-filter-item {
  text-transform: uppercase;
  list-style: none;
}

.pattern-item {
  list-style: none;
}

.pattern-filter-item,
.pattern-item-description {
  font-size: 14px;
  line-height: 18px;
}

.pattern-item-title a {
  color: var(--black);
  text-transform: uppercase;
}

.pattern-item-title a:hover,
.pattern-item-title a:focus {
  color: var(--light-red);
}

.pattern-item-title a:active {
  color: var(--opacity-light-black);
}

.pagination {
  list-style: none;
}

.current-position a,
.current-position a:focus,
.current-position a:hover {
  color: var(--black);
}

.current-position a:active {
  color: var(--black);
}

.pattern-filter-item a {
  color: var(--opacity-light-black);
}

.pattern-filter-item a:focus,
.pattern-filter-item a:hover {
  color: var(--opacity-black);
}

.pattern-filter-item a:active {
  color: var(--black);
}
.current a:focus,
.current a:hover,
.current a {
  color: var(--black);
}

.pagination-link-current{
  border: 3px solid var(--dark-grey);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--black);
}

.pagination-link{
  color: var(--black);
  background-color: var(--light-grey);
}

.pagination-link:focus,
.pagination-link:hover {
  background-color: var(--dark-grey);
}

.pagination-link:active {
  background-color: var(--darker-grey);
  color: var(--opacity-light-black);
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--darker-grey) ;
}

.social-list {
  width: 266px;
}

.friend-wrapper {
  width: 660px;
}
